* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70vw;
}

label {
    font-size: 2rem;
    padding: 5px;
    color: white;
}

#url {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 60%;
}

#customText {
    padding: 8px;
    border-radius: 16px;
    border: none;
    text-align: center;
    margin-bottom: 12px;
}
#url::placeholder {
    text-align: center;
    font-size: 14px;
}

button {
    padding: 10px;
    width: 30%;
    border-radius: 50px;
    border: none;
    background-color: #00548c;
    color: white;
    cursor: pointer;
}

/* Estilos para a bolinha ao lado do título */
#statusIndicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 10px; 
    vertical-align: middle;
}

.indicator.inactive {
    background-color: rgb(255, 45, 45); /* Bolinha vermelha para Desativado */
}

.indicator.active {
    background-color: rgb(0, 185, 0); /* Bolinha verde para Ativo */
}

button:hover {
    background-color: rgb(147, 172, 255);
    color: #fff3f3;
    transition: 0.5s ease-in-out;
}

button.inactive { 
    background-color: rgb(203, 0, 0);
    transition: 0.5s ease-in-out;
}

button.inactive:hover {
    background-color: rgb(255, 132, 132); 
    color: white; 
    transition: 0.5s ease-in-out;
}

button.active {
    background-color: rgb(56, 187, 56); 
    color: white; 
    transition: 0.5s ease-in-out;
}

button.active:hover {
    background-color: rgb(165, 215, 165); 
    color: white;
    transition: 0.5s ease-in-out;
}

#result, #stats-result {
    padding-top: 3rem;
    display: block;
    flex-direction: column;
    color: white;
}
p {
    color: whitesmoke;
}

/*-------------Media---querie----------------------*/

@media screen and (max-width: 500px) {
    label {
        font-size: 1rem;
    }
    #url {
        width: 100%;
    }
    button {
        width: 60%;
    }
}

@media screen and (max-width: 370px) {
    label {
        font-size: 1rem;
    }
    #url {
        width: 100%;
    }
    button {
        width: 60%;
    }
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ebebeb;
}

td input {
    width: calc(100% - 16px); /* Ajusta a largura para não ocupar 100% exato e permitir padding */
    padding: 8px; /* Aumenta o padding para melhorar a visualização */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

#correiosTable {
    table-layout: fixed; /* Faz com que as colunas tenham larguras fixas */
}

#correiosTable td,
#correiosTable th {
    min-width: 150px; /* Define uma largura mínima para cada célula */
}

#correiosTable th,
#correiosTable td {
    padding: 10px;
}

#correiosTable th:nth-child(1),
#correiosTable td:nth-child(1) {
    width: 20%; /* Ajuste a largura da coluna do email */
}

#correiosTable th:nth-child(2),
#correiosTable td:nth-child(2) {
    width: 20%; /* Ajuste a largura da coluna do código de rastreio */
}

#correiosTable th:nth-child(3),
#correiosTable td:nth-child(3) {
    width: 25%; /* Ajuste a largura da coluna da etapa */
}

#correiosTable th:nth-child(4),
#correiosTable td:nth-child(4) {
    width: 35%; /* Ajuste a largura da coluna do log */
}