* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    position: relative; /* Permite o posicionamento absoluto dos elementos filhos */
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 95vw;
}

label {
    font-size: 2rem;
    padding: 5px;
    color: white;
}

#url {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 30px;
    border: none;
    width: 60%;
}

#customText {
    padding: 8px;
    border-radius: 16px;
    border: none;
    text-align: center;
    margin-bottom: 12px;
}
#url::placeholder {
    text-align: center;
    font-size: 14px;
}

button {
    padding: 10px;
    width: 30%;
    border-radius: 50px;
    border: none;
    background-color: #00548c;
    color: white;
    cursor: pointer;
}

/* Estilos para a bolinha ao lado do título */
#statusIndicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-left: 10px; 
    vertical-align: middle;
}

.indicator.inactive {
    background-color: rgb(255, 45, 45); /* Bolinha vermelha para Desativado */
}

.indicator.active {
    background-color: rgb(0, 185, 0); /* Bolinha verde para Ativo */
}

button:hover {
    background-color: rgb(147, 172, 255);
    color: #fff3f3;
    transition: 0.5s ease-in-out;
}

button.inactive { 
    background-color: rgb(203, 0, 0);
    transition: 0.5s ease-in-out;
}

button.inactive:hover {
    background-color: rgb(255, 132, 132); 
    color: white; 
    transition: 0.5s ease-in-out;
}

button.active {
    background-color: rgb(56, 187, 56); 
    color: white; 
    transition: 0.5s ease-in-out;
}

button.active:hover {
    background-color: rgb(165, 215, 165); 
    color: white;
    transition: 0.5s ease-in-out;
}

#result, #stats-result {
    padding-top: 3rem;
    display: block;
    flex-direction: column;
    color: white;
}
p {
    color: whitesmoke;
}

/*-------------Media---querie----------------------*/

@media screen and (max-width: 500px) {
    label {
        font-size: 1rem;
    }
    #url {
        width: 100%;
    }
    button {
        width: 60%;
    }
}

@media screen and (max-width: 370px) {
    label {
        font-size: 1rem;
    }
    #url {
        width: 100%;
    }
    button {
        width: 60%;
    }
}

table {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 35px;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: #ebebeb;
}

td input {
    width: calc(100% - 16px); 
    padding: 8px; 
    box-sizing: border-box; 
}

#correiosTable {
    table-layout: fixed; 
}

#correiosTable td,
#correiosTable th {
    min-width: 150px; 
}

#correiosTable th,
#correiosTable td {
    padding: 10px;
}

#correiosTable th:nth-child(1),
#correiosTable td:nth-child(1) {
    width: 35%; 
}

#correiosTable th:nth-child(2),
#correiosTable td:nth-child(2) {
    width: 20%; 
}

#correiosTable th:nth-child(3),
#correiosTable td:nth-child(3) {
    width: 25%; 
}

#correiosTable th:nth-child(4),
#correiosTable td:nth-child(4) {
    width: 25%; 
}

#correiosTable th:nth-child(5),
#correiosTable td:nth-child(5) {
    width: 25%; 
}

#correiosTable th:nth-child(6),
#correiosTable td:nth-child(6) {
    width: 35%; 
}

.background-image {
    position: absolute;
    bottom: 0px;
    right: 0%;
    height: auto; 
    width: 440px; 
    height: auto; 
    z-index: -1; 
    opacity: 95%;
    display: none; 
}


.show-image {
    display: block;
}

#logContainer {
    width: 65%;
    margin-top: 32px;
}

.console-log {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    font-family: monospace;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#logOutput {
    white-space: pre-wrap;
}
